/*.code-container{
	float: left;
}*/
.code-text{
	width : 100%;
	height :576px;
}
.code-textarea{
	resize:none;
}
.code-inset-shadow{
	box-shadow:0px 0px 3px grey inset;
}
.code-view{
	border: 1px solid grey;
	box-shadow:0px 0px 3px grey inset;
}
#code-method>button{
	width:90%;
	margin-bottom: 5px;
}