
.type-object {
    color: #00AA00;
    font-weight: bold;
}
.type-array {
    color: #0033FF;
    font-weight: bold;
}
.PropertyName {
    color: #CC0000;
    font-weight: bold;
}
.type-string {
    color: #007777;
}
.type-number {
    color: #AA00AA;
}
.type-boolean {
    color: #0000FF;
}
.Function {
    color: #AA6633;
    text-decoration: italic;
}
.type-undefined {
    color: #0000FF;
}
.comma {
    color: #000000;
    font-weight: bold;
}
.colon {
    color: #000000;
    font-weight: bold;
}
.content-toggle{
    overflow: hidden;/*内容超出后隐藏*/
    text-overflow: ellipsis;/* 超出内容显示为省略号*/
    white-space: nowrap;/*文本不进行换行*/
}
.json-toggle{
    float:left;
    padding:0px;
    margin: 0px;
    width:6px;
    height:6px;
    cursor:pointer ;
}
.toggle-text{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}